<launch>
    <arg name="follower_init_x" default="0.0"/>
    <arg name="follower_init_y" default="0.0"/>
    <arg name="follower_init_z" default="2.0"/>
    <arg name="target_init_x" default="6.0"/>
    <arg name="target_init_y" default="0.0"/>
    <arg name="target_init_z" default="2.5"/>

    <include file="$(find so3_quadrotor_simulator)/launch/simulator_attitude_control_uav.launch">
        <arg name="uav_name" value="quadrotor"/>
        <arg name="init_x" value="$(arg follower_init_x)"/>
        <arg name="init_y" value="$(arg follower_init_y)"/>
        <arg name="init_z" value="$(arg follower_init_z)"/>
        <arg name="odom_topic" value="/sim/odom"/>
        <arg name="imu_topic" value="/sim/imu"/>
        <arg name="ctrl_topic" value="/so3_control/pos_cmd"/>
        <arg name="so3_cmd_topic" value="/so3_cmd"/>
        <arg name="force_disturbance_topic" value="/force_disturbance"/>
        <arg name="moment_disturbance_topic" value="/moment_disturbance"/>
        <arg name="simulator_node_name" value="quadrotor_simulator_so3"/>
        <arg name="controller_node_name" value="network_controller_node"/>
    </include>

    <include file="$(find so3_quadrotor_simulator)/launch/simulator_attitude_control_uav.launch">
        <arg name="uav_name" value="target"/>
        <arg name="init_x" value="$(arg target_init_x)"/>
        <arg name="init_y" value="$(arg target_init_y)"/>
        <arg name="init_z" value="$(arg target_init_z)"/>
        <arg name="odom_topic" value="/target/odom"/>
        <arg name="imu_topic" value="/target/imu"/>
        <arg name="ctrl_topic" value="/target_control/pos_cmd"/>
        <arg name="so3_cmd_topic" value="/target/so3_cmd"/>
        <arg name="force_disturbance_topic" value="/target/force_disturbance"/>
        <arg name="moment_disturbance_topic" value="/target/moment_disturbance"/>
        <arg name="simulator_node_name" value="target_simulator_so3"/>
        <arg name="controller_node_name" value="target_network_controller_node"/>
    </include>
</launch>
