.idea/

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/

YOPO/saved/*
!YOPO/saved/YOPO_0/
!YOPO/saved/YOPO_0/**
YOPO/saved_swarm/*
dataset/
dataset_swarm/
yopo_sim/
experiments/

*.pyc
bags/
*.bag
**/__pycache__
