.idea/

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/

YOPO/saved/*
YOPO/saved_swarm/*
dataset/
dataset_swarm/
dataset_tracker_smoke/
yopo_sim/

!YOPO/saved/YOPO_0/
*.pyc
bags/
*.bag
**/__pycache__
